
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    background-color: #a09b9b;
}


h1 {
    font-family: Papyrus, Fantasy;
    background-color: #004cffbf;
    color: #000000;
    padding: 16px 0;
    text-align: center;
}

h2, h3 {
    color: #000000;
    padding: 0;
    text-align: center;
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}


main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}


#home {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

table, th, td {
    width: 100%;
    border:2px solid #004cffbf;
    text-align: center;
    table-layout: fixed;
}

#survey{
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

#misc{
    margin-bottom: 20px;
    text-align: center;
    color: #ff0000;
}



button {
    background-color: #004cffbf;
    color: #000000;
    padding: 0;
    border: 2px solid #004cffbf;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    height: 100px;
    flex: 1;    
  }
  
  button:hover {
    background-color: #218838;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#surveyResults {
    background-color: #f9f9f9;
    border: 2px solid #004cff;
    border-radius: 8px;
    padding: 10px;
    margin: auto;
    width: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #000000;
}


#surveyResults h3 {
    color: #000000;
    font-size: 24px;
}

#surveyResults p {
    font-size: 16px;
    line-height: 2.5;
}



footer {
    background-color: #004cffbf;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#quiz {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

#generator {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

#randomImage {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
}